* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #cb356b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cb356b, #bd3f32); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cb356b, #bd3f32);
}

h1, h2, h3, h4, p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.maincontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

section {
    margin: 20px;
}


.start {
    width: 80vw;
}

.start_btn, .print_btn {
    color: white;
    background: #362F4B;
    transition: background 500ms;
}




.start_btn:hover, .print_btn:hover{
    background: tomato;
}


#counter1, #counter2, #counter3, #counter4, #counter5, #counter6, #counter7{
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.3);
}


.vraag1, .vraag2, .vraag3, .vraag4, .vraag5, .vraag6, .vraag7, .uitslag{
    display: none;
}

input[type=number] {
    height: 1.5rem;
    width: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
}

input[type=number]:focus {
    outline: none;
}

input[type=number]:hover {
    background: rgba(202,54,102,0.1);
}

table {
    background-color: white;
    border-collapse: collapse;
    color: black;
    border-radius: 6px;
    table-layout: fixed;
}

tr th {
    background-color: #362F4B;
    border: none;
    color: white;  
    padding: 0.5rem;  
}

th:first-child{
    border-radius: 5px 0 0 0;
}

tr td {
    padding: 0.2rem;
}

tr td:first-child {
    padding-left: 0.5rem;
}

th:last-child {
    border-radius:  0 5px 0 0;
}

tr:nth-child(even){
    background-color: rgba(212, 212, 212, 0.5);
}



.verder {
    width: 150px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    height: 2rem;
}

.verder:focus {
    outline: none;
}

.uitslag .verder{
    width: 200px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}



.solutionCard {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin: 10px 0 0 0;
    border: 1px solid white;
    transition: background 500ms;
}

.solutionCard h2, .solutionCard h3, .solutionCard h4, .solutionCard p {
    margin: 0;
}

.vz:hover {
    background: rgba(132, 170, 211, 1); 
}

.vm:hover {
    background: rgba(182, 66, 43, 1);
}

.pl:hover {
    background: rgba(232, 215, 102, 1);
}


.mo:hover {
    background: rgba(161, 153, 176, 1);
}

.bm:hover {
    background-color: rgba(13, 102, 157, 1);
}

.bo:hover {
    background: rgba(171, 66, 122, 1);
}

.gw:hover {
    background: rgba(117, 187, 111, 1);
}

.zd:hover {
    background: rgba(127, 73, 53, 1);
}

.sp:hover {
    background: rgba(185, 179, 150, 1);
}

#vz_val {
    margin-right: 10px;
}


@media only screen and (max-width: 600px) {
    .maincontainer {
        height: auto;
    }
}

@media print {
    .card, .start, .vraag1, .vraag2, .vraag3, .vraag4, .vraag5, .vraag6, .vraag7, .uitslag {
        display: block;
        
    }

    body {
        display: block;
        align-items: center;
        justify-content: center; 
        font-family: 'Poppins', sans-serif;
        color: black;
        background:  none;
    }

    button {
        display: none;
    }

    section {
        page-break-after: always;
    }

    .maincontainer {
        display: block;
    }

    .solutionCard {
        width: 200px;
        text-align: center;
        border-radius: 10px;
        margin: 10px 0 0 0;
        border: 1px solid black;
        color: black
    }

}